/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 de abr de 2020, 21:24:07
    Author     : Luiz Henrique
*/


html, body{
    
    background:url('../images/banner02.jpg') no-repeat 0px 0px;
    background-size:cover; 
  
}


